
[fan_generic  chamber_fan]
pin: MP8:FAN3
kick_start_time: 5.0

[gcode_macro SET_EXHAUST_FAN]
gcode:
    {% set s = params.S|default(0)|float %}
    SET_TEMPERATURE_FAN_TARGET temperature_fan="chamber_fan" target={s}

#####################################################################
# Turns off the fan 
#####################################################################
[delayed_gcode CHAMBER_FAN_OFF]
gcode:
    SET_FAN_SPEED FAN=Chamber SPEED=0