###################################
#   Caselights
###################################
# Chamber Lighting - HE2 Connector (Optional)
[output_pin chamber_light]
pin: MP8:HE2
pwm: true
shutdown_value: 0
value:1
cycle_time: 0.01

[gcode_macro _CASELIGHT_ON]
description: Helper: Light On
gcode:
    SET_PIN PIN=chamber_light VALUE=1
    {action_respond_info("Caselights On")}
    
[gcode_macro _CASELIGHT_OFF]
description: Helper: Light Off
gcode:
  SET_PIN PIN=chamber_light VALUE=0.0
  {action_respond_info("Caselights Off")}

[gcode_macro CASE_LIGHTS]
description: Toggle Light
gcode: 
    {% if printer['output_pin chamber_light'].value == 0 %} 
        _CASELIGHT_ON
    {% else %} 
        _CASELIGHT_OFF 
    {% endif %}